<!doctype html>
<html>
<head>
  <title>Settings</title>
  <style>
    label {
      display: inline-block;
      vertical-align: top;
      margin-top: 10px; /* Adjust as needed */
    }
    textarea {
      vertical-align: top;
      overflow: hidden;
    }
    input[type="text"] {
      margin-top: 10px; /* Adjust as needed */
    }
  </style>
  <script>
    function autoResizeTextarea() {
      this.style.height = 'auto';
      this.style.height = this.scrollHeight + 'px';
    }
    window.onload = function() {
      var textareas = document.getElementsByTagName('textarea');
      for (var i = 0; i < textareas.length; i++) {
        textareas[i].addEventListener('input', autoResizeTextarea);
        autoResizeTextarea.call(textareas[i]);  // Call the function to set initial height
      }
    }
  </script>
</head>
<body>
  <h1>Settings</h1>
  <form method="post">
    {% for key, value in settings.items() %}
      <div>
        <label for="{{ key }}">{{ key }}</label>
        {% if key == "SYSTEM_PROMPT" %}
        <textarea id="{{ key }}" name="{{ key }}">{{ value }}</textarea>
        {% elif key == "MAX_TOKEN_NUM" and value == None %}
        <input type="text" id="{{ key }}" name="{{ key }}" value="2000">
        {% else %}
        <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}">
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" value="Save">
  </form>
</body>
</html>
